/** Utility classes with some minimal styling **/
.container {
  text-align: center;
}

.bordered {
  border: 1px solid;
}

.padded {
  padding: 5px;
}

.margin {
  margin: 20px;
}

.hidden {
  display: none;
}

.centered {
  text-align: center;
}
