.wt-list-collection-header {
  border-bottom: 1px solid #EAEDF6;
}

.wt-list-card {
  border: 1px solid #EAEDF6;
  border-radius: 5px;
  margin: 0px 10px 10px 0px;
  float: left;
  max-width: 200px;
}

.wt-list-info {
  padding: 10px;
}

.wt-list-image {
  max-height: 200px;
  max-width: 200px;
  border-bottom: 1px solid #EAEDF6;
}

.wt-list-name {
  margin: 0px;
}

.wt-list-policy {
  margin: 0px
}

.wt-list-price {
  width: 120px;
}

.wt-list-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 100%;
  background: rgba(255,255,255,0.9);
  border-top: 1px solid #EAEDF6;
}

.wt-list-card.listed {
  opacity: 0.7;
}

.wt-list-card.listed .wt-list-checkbox:checked ~ .wt-delist-info {
  opacity: 1.0;
  font-weight: bold;
}
